{% if errorText %}
<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
<div style="border: solid 5px #f00; padding: 10px">
<h5>Error: {{ errorText }}</h5>
</div>
{% endif%}